<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <!-- In this context '~' refers to the wwwroot folder -->
        <link rel="stylesheet" href="~/css/basic.css"/>
    </head>
    <body>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
        <h1>Home</h1>
        <p>
            Salamat Alshyn
        </p>
        <form action="result" method="post">
            <input type="text" name="textToPass">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>